@using Blazor.ProjectTracker.Components.SharedComponents
@using global::ProjectTracker.Domain.Entities
@inject NavigationManager Navigation

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <MudNavMenu class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> My Projects
            </NavLink>
        </div>

        <MudDivider Class="my-2" />
        <MudText Typo="Typo.subtitle2" Class="px-3">Projects</MudText>

        @if (projects is not null)
        {
            @foreach (var project in projects)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"/project/{project.Id}")">
                        <span class="bi bi-folder2-open" aria-hidden="true"></span> @project.Name
                    </NavLink>
                </div>
            }
        }

        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddNewProject" Class="m-3">
            Add Project
        </MudButton>
    </MudNavMenu>
</div>




@code {
    private List<Project> projects = new();

    protected override async Task OnInitializedAsync()
    {
        // projects = await ProjectService.GetAllProjectsAsync();
        projects = new List<Project>
        {
            new Project()
            {
                Id = 1,
                Name = "SANTS"
            },
            new Project()
            {
                Id = 2,
                Name = "TUES"
            },
        };
    }

    private async Task AddNewProject()
    {
        
    }
}