@using System.Globalization

<div class="row-wrapper">
    <span class="project-title">@Title</span>

    <div class="tag-container">
        @foreach (var tag in Tags)
        {
            <span class="tag-pill" style="background:@tag.Color">@tag.Text</span>
        }
    </div>

    <span class="project-date">
        @Date.ToString("MMM d, yyyy", CultureInfo.InvariantCulture)
    </span>
</div>


@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public IEnumerable<TagDto> Tags { get; set; } = Array.Empty<TagDto>();
    [Parameter] public DateTime Date { get; set; }

    public record TagDto(string Text, string Color);
}
